$primary-color: #12232E;
$secondary-color: #007CC7;
$tirtiary-color: #4DA8DA;
$fourth-color : #203647;
$background : #EEFBFB;


h1 {
    margin: 10px 0;
    font-weight: bolder;
}

p {
    font-size: 12px;
    margin: 5px 0;
}

span {
    font-size: 12px;
}

a {
    color: $primary-color;
    font-size: 14px;
    text-decoration: none;
}

input {
    margin: 15px 0;
    font-size: 14px;
    padding: 0.5rem 0.8rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid $primary-color;

    &:focus {
        outline: none;
    }
}

button {
    border-radius: 10px;
    // border: 2px solid $secondary-color;
    padding: 0.7rem 2rem;
    font-size: 16px;
    background: $primary-color;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 80ms ease;
    cursor: pointer;
    margin: 10px 0;
    border: none;
    outline: none;

    &.ghost {
        background: transparent;
        border: 1px solid #fff;
    }

    &:active {
        transform: scale(0.95);
    }

    &:focus {
        outline: none;
    }
}